In [ ]:
import pandas as pd

In [ ]:
import gc

gc.collect()

0

In [ ]:
Data = pd.read_csv('data.csv')

In [ ]:
Data.drop(['Unnamed: 27','TAXI_OUT',
       'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN','CANCELLATION_CODE'],inplace =True, axis =1)

In [ ]:
Data['FL_DATE'] = pd.to_datetime(Data['FL_DATE'])

# extract year, month, and day from 'FL_DATE' column
Data['year'] = Data['FL_DATE'].dt.year
Data['month'] = Data['FL_DATE'].dt.month
Data['day'] = Data['FL_DATE'].dt.day

# print the updated dataframe
Data.head(5)

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,...,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,year,month,day
0,2009-01-01,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,1202.0,1206.0,...,42.0,199.0,NaN,NaN,NaN,NaN,NaN,2009,1,1
1,2009-01-01,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,1632.0,1624.0,...,43.0,213.0,NaN,NaN,NaN,NaN,NaN,2009,1,1
2,2009-01-01,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,1210.0,1201.0,...,36.0,199.0,NaN,NaN,NaN,NaN,NaN,2009,1,1
3,2009-01-01,XE,1208,DCA,EWR,1240.0,1249.0,9.0,1357.0,1345.0,...,37.0,199.0,NaN,NaN,NaN,NaN,NaN,2009,1,1
4,2009-01-01,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,1900.0,1822.0,...,40.0,213.0,NaN,NaN,NaN,NaN,NaN,2009,1,1

In [ ]:
data = Data [['year', 'month', 'day','OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'CRS_ARR_TIME', 'ARR_TIME',
       'ARR_DELAY', 'CANCELLED', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']]

In [ ]:
data = data.astype({"year": 'int16', "month": 'int16',
                    'day':'int16','OP_CARRIER': 'category',
                    'OP_CARRIER_FL_NUM': 'int16', 'ORIGIN':'category',
                    'DEST':'category','CRS_DEP_TIME': 'float16',
                    'DEP_TIME': 'float16', 'DEP_DELAY':'float16',
                    'CRS_ARR_TIME':'float16', 'ARR_TIME':'float16',
       'ARR_DELAY': 'float16', 'CANCELLED':'float16',
                    'DIVERTED':'float16', 'CRS_ELAPSED_TIME' :'float16',
       'ACTUAL_ELAPSED_TIME': 'float16', 'AIR_TIME':'float16',
                    'DISTANCE': 'float16', 'CARRIER_DELAY':'float16',
       'WEATHER_DELAY':'float16', 'NAS_DELAY':'float16',
                    'SECURITY_DELAY':'float16', 'LATE_AIRCRAFT_DELAY':'float16'})

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61556964 entries, 0 to 61556963
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   year                 int16
 1   month                int16
 2   day                  int16
 3   OP_CARRIER           category
 4   OP_CARRIER_FL_NUM    int16
 5   ORIGIN               category
 6   DEST                 category
 7   CRS_DEP_TIME         float16
 8   DEP_TIME             float16
 9   DEP_DELAY            float16
 10  CRS_ARR_TIME         float16
 11  ARR_TIME             float16
 12  ARR_DELAY            float16
 13  CANCELLED            float16
 14  DIVERTED             float16
 15  CRS_ELAPSED_TIME     float16
 16  ACTUAL_ELAPSED_TIME  float16
 17  AIR_TIME             float16
 18  DISTANCE             float16
 19  CARRIER_DELAY        float16
 20  WEATHER_DELAY        float16
 21  NAS_DELAY            float16
 22  SECURITY_DELAY       float16
 23  LATE_AIRCRAFT_DELAY  float16
dtypes: category(3), float16(17), int16(4)
memory usage: 2.7 GB

In [ ]:
Final_data = data.copy()

In [ ]:
Final_data

,year,month,day,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2009,1,1,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,...,0.0,62.0,68.0,42.0,199.0,NaN,NaN,NaN,NaN,NaN
1,2009,1,1,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,...,0.0,82.0,75.0,43.0,213.0,NaN,NaN,NaN,NaN,NaN
2,2009,1,1,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,...,0.0,70.0,62.0,36.0,199.0,NaN,NaN,NaN,NaN,NaN
3,2009,1,1,XE,1208,DCA,EWR,1240.0,1249.0,9.0,...,0.0,77.0,56.0,37.0,199.0,NaN,NaN,NaN,NaN,NaN
4,2009,1,1,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,...,0.0,105.0,77.0,40.0,213.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61556959,2018,12,31,AA,1815,DCA,CLT,1534.0,1530.0,-4.0,...,0.0,100.0,99.0,72.0,331.0,NaN,NaN,NaN,NaN,NaN
61556960,2018,12,31,AA,1816,CLT,DFW,1751.0,1757.0,6.0,...,0.0,181.0,176.0,148.0,936.0,NaN,NaN,NaN,NaN,NaN
61556961,2018,12,31,AA,1817,CLT,MEM,2015.0,2010.0,-5.0,...,0.0,112.0,128.0,88.0,511.0,NaN,NaN,NaN,NaN,NaN
61556962,2018,12,31,AA,1818,CLT,RDU,1300.0,1323.0,23.0,...,0.0,50.0,41.0,26.0,130.0,NaN,NaN,NaN,NaN,NaN
61556963,2018,12,31,AA,1818,RDU,CLT,1435.0,1443.0,8.0,...,0.0,71.0,59.0,44.0,130.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
Final_data.isnull().sum()

year                          0
month                         0
day                           0
OP_CARRIER                    0
OP_CARRIER_FL_NUM             0
ORIGIN                        0
DEST                          0
CRS_DEP_TIME                  1
DEP_TIME                 935723
DEP_DELAY                940675
CRS_ARR_TIME                  2
ARR_TIME                 997015
ARR_DELAY               1121351
CANCELLED                     0
DIVERTED                      0
CRS_ELAPSED_TIME             60
ACTUAL_ELAPSED_TIME     1118754
AIR_TIME                1118753
DISTANCE                      0
CARRIER_DELAY          50166224
WEATHER_DELAY          50166224
NAS_DELAY              50166224
SECURITY_DELAY         50166224
LATE_AIRCRAFT_DELAY    50166224
dtype: int64

In [ ]:
year = [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
CARRIER_DELAY = (5.28/100)
WEATHER_DELAY = (0.57/100)
NAS_DELAY = (5.88/100)
SECURITY_DELAY = (0.04/100)
LATE_AIRCRAFT_DELAY = (0.24/100)
for i in range(len(year)):
    Final_data[Final_data['year'] == year[i]]
    Final_data['CARRIER_DELAY'] = Final_data['DEP_DELAY'] * CARRIER_DELAY
    Final_data['WEATHER_DELAY'] = Final_data['DEP_DELAY'] * WEATHER_DELAY
    Final_data['NAS_DELAY'] = Final_data['DEP_DELAY'] * NAS_DELAY
    Final_data['SECURITY_DELAY'] = Final_data['DEP_DELAY'] * SECURITY_DELAY
    Final_data['LATE_AIRCRAFT_DELAY'] = Final_data['DEP_DELAY'] * LATE_AIRCRAFT_DELAY

In [ ]:
Final_data

,year,month,day,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2009,1,1,XE,1204,DCA,EWR,1100.0,1058.0,-2.0,...,0.0,62.0,68.0,42.0,199.0,-0.105591,-0.011398,-0.117615,-0.000800,-0.004799
1,2009,1,1,XE,1206,EWR,IAD,1510.0,1509.0,-1.0,...,0.0,82.0,75.0,43.0,213.0,-0.052795,-0.005699,-0.058807,-0.000400,-0.002399
2,2009,1,1,XE,1207,EWR,DCA,1100.0,1059.0,-1.0,...,0.0,70.0,62.0,36.0,199.0,-0.052795,-0.005699,-0.058807,-0.000400,-0.002399
3,2009,1,1,XE,1208,DCA,EWR,1240.0,1249.0,9.0,...,0.0,77.0,56.0,37.0,199.0,0.475098,0.051300,0.529297,0.003601,0.021591
4,2009,1,1,XE,1209,IAD,EWR,1715.0,1705.0,-10.0,...,0.0,105.0,77.0,40.0,213.0,-0.527832,-0.057007,-0.587891,-0.004002,-0.023987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61556959,2018,12,31,AA,1815,DCA,CLT,1534.0,1530.0,-4.0,...,0.0,100.0,99.0,72.0,331.0,-0.211182,-0.022797,-0.235229,-0.001600,-0.009598
61556960,2018,12,31,AA,1816,CLT,DFW,1751.0,1757.0,6.0,...,0.0,181.0,176.0,148.0,936.0,0.316895,0.034180,0.352783,0.002399,0.014397
61556961,2018,12,31,AA,1817,CLT,MEM,2015.0,2010.0,-5.0,...,0.0,112.0,128.0,88.0,511.0,-0.263916,-0.028503,-0.293945,-0.002001,-0.011993
61556962,2018,12,31,AA,1818,CLT,RDU,1300.0,1323.0,23.0,...,0.0,50.0,41.0,26.0,130.0,1.213867,0.131104,1.352539,0.009201,0.055176
61556963,2018,12,31,AA,1818,RDU,CLT,1435.0,1443.0,8.0,...,0.0,71.0,59.0,44.0,130.0,0.422363,0.045593,0.470459,0.003201,0.019196

In [ ]:
Final_data.isnull().sum()

year                         0
month                        0
day                          0
OP_CARRIER                   0
OP_CARRIER_FL_NUM            0
ORIGIN                       0
DEST                         0
CRS_DEP_TIME                 1
DEP_TIME                935723
DEP_DELAY               940675
CRS_ARR_TIME                 2
ARR_TIME                997015
ARR_DELAY              1121351
CANCELLED                    0
DIVERTED                     0
CRS_ELAPSED_TIME            60
ACTUAL_ELAPSED_TIME    1118754
AIR_TIME               1118753
DISTANCE                     0
CARRIER_DELAY           940675
WEATHER_DELAY           940675
NAS_DELAY               940675
SECURITY_DELAY          940675
LATE_AIRCRAFT_DELAY     940675
dtype: int64

In [ ]:
Final_data = Final_data.dropna()

In [ ]:
Final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60431020 entries, 0 to 61556963
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   year                 int16
 1   month                int16
 2   day                  int16
 3   OP_CARRIER           category
 4   OP_CARRIER_FL_NUM    int16
 5   ORIGIN               category
 6   DEST                 category
 7   CRS_DEP_TIME         float16
 8   DEP_TIME             float16
 9   DEP_DELAY            float16
 10  CRS_ARR_TIME         float16
 11  ARR_TIME             float16
 12  ARR_DELAY            float16
 13  CANCELLED            float16
 14  DIVERTED             float16
 15  CRS_ELAPSED_TIME     float16
 16  ACTUAL_ELAPSED_TIME  float16
 17  AIR_TIME             float16
 18  DISTANCE             float16
 19  CARRIER_DELAY        float16
 20  WEATHER_DELAY        float16
 21  NAS_DELAY            float16
 22  SECURITY_DELAY       float16
 23  LATE_AIRCRAFT_DELAY  float16
dtypes: category(3), float16(17), int16(4)
memory usage: 3.1 GB

In [ ]:
Final_data.shape

(60431020, 24)